.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	height: rem(46);

	background-image: linear-gradient(180deg, #5668a8 0%, #193055 53.44%, #281a3b 56.04%, #512293 81.56%, #512293 100%);
	border: 2px solid #260092;
	box-shadow: 0px 4px 4px rgba(128, 0, 255, 0.27), inset 0px -6px 4px rgba(0, 163, 255, 0.26),
		inset 0px 4px 4px rgba(255, 247, 207, 0.65);
	border-radius: 11px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(3px);
	}

	p {
		font-weight: 900;
		@include adaptiveValue("padding-inline", 27, 15, 800, 550, 1);
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	&_spin {
		background-image: linear-gradient(180deg, #048c4b 0%, #70f422 100%);
		box-shadow: 0px 4px 4px rgba(36, 255, 0, 0.27), inset 0px -6px 4px rgba(0, 255, 56, 0.26),
			inset 0px 4px 4px rgba(255, 247, 207, 0.65);
		border-radius: 11px;
		p {
			@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
			line-height: math.div(23, 20);
			color: #ffffff;
			-webkit-text-stroke: 1px #0f701c;
		}
	}
	&_max {
		p {
			font-weight: 900;
			@include adaptiveValue("font-size", 11, 9, 800, 550, 1);
			line-height: math.div(13, 11);
			letter-spacing: 0.05em;

			background-image: linear-gradient(180deg, #f0b4ff 50%, #ff1ddb 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px rgba(189, 0, 255, 0.28);
		}
	}
	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: radial-gradient(85.73% 85.73% at 50% 14.27%, #8d00be 64.6%, #2c00da 100%);

	transition: all 0.3s ease-out 0.1s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(22);
		right: rem(23);
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
		background-image: linear-gradient(180deg, #00a3ff 0%, #0030da 100%);
		box-shadow: 0px 4px 4px rgba(0, 87, 255, 0.27), inset 0px -6px 4px rgba(0, 163, 255, 0.26),
			inset 0px 4px 4px rgba(255, 247, 207, 0.65);
		border-radius: rem(50);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: transform 0.3s ease 0s;
		&:active {
			transform: scale(0.9);
		}
		p {
			padding: rem(11) rem(27);

			font-weight: 700;
			@include adaptiveValue("font-size", 20, 18, 800, 550, 1);
			line-height: math.div(23, 20);
			letter-spacing: 0.05em;
			background-image: linear-gradient(180deg, #ffffff 0%, #1dc9ff 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px rgba(0, 224, 255, 0.28);
		}
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 80vw;
	padding-top: rem(30);
	padding-bottom: rem(20);
	padding-left: rem(35);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 36, 24, 800, 550, 1);
		line-height: math.div(42, 36);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding-bottom: rem(16);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-weight: 700;
	@include adaptiveValue("font-size", 14, 12, 1200, 550, 1);
	line-height: math.div(16, 14);
	color: #ffffff;
	letter-spacing: 0.05em;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	position: relative;

	background: linear-gradient(180deg, #014790 0.31%, #062a65 46.67%, #021c4b 52.92%, #011a26 100%);
	border: 1px solid #ffb800;
	box-shadow: inset 0px 4px 3px rgba(32, 0, 65, 0.91);
	border-radius: 18.5px;
	span {
		position: absolute;
		z-index: 1;
		top: -1px;
		left: -1px;
		width: 101%;
		height: 100%;
		background: linear-gradient(180deg, #014790 0.31%, #062a65 46.67%, #021c4b 52.92%, #011a26 100%);
		box-shadow: inset 0px 4px 3px rgba(32, 0, 65, 0.91);
		border-radius: 18.5px;
	}
}

.text-game {
	p {
		font-weight: 900;
		@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 4px 10px rgba(250, 255, 0, 0.62));
	}
}

//========================================================================================================================================================
