//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		display: grid;
		grid-template-rows: rem(60) 1fr;
		row-gap: rem(30);
		min-height: 100vh;
	}

	&__privacy {
		position: absolute;
		bottom: rem(5);
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: all 0.3s ease 0s;

		p {
			background-image: linear-gradient(180deg, #ffffff 0%, #e2e2e2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding-inline: rem(75);

			@include adaptiveValue("font-size", 20, 18, 800, 550, 1);
			line-height: math.div(24, 20);
			letter-spacing: 0.05em;
		}

		&:active {
			transform: translateY(3px) translateX(-50%);
		}
	}

	// .main__header

	&__header {
	}

	&__slider {
		position: relative;
		padding-left: rem(40);
		padding-bottom: rem(40);
		align-self: center;
		z-index: 2;
		@media (min-height: em(700)) {
			padding-bottom: rem(0);
		}
	}

	&__item {
		position: relative;
		display: grid;
		justify-items: center;
		row-gap: rem(15);
		perspective: 500px;
		transform-style: preserve-3d;
		perspective-origin: bottom;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&._disabled {
			pointer-events: none;
		}
	}

	&__image {
		position: relative;
		._disabled & {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(23, 20, 66, 0.79);
				border-radius: rem(20);
			}
		}

		img {
			max-width: rem(182);
		}
		&_pin {
		}
	}

	&__disable-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: grid;
		justify-items: center;
		row-gap: rem(10);
	}
	&__icon {
		img {
			filter: drop-shadow(-1px 10px 15px rgba(255, 214, 0, 0.43));
		}
	}
}

.header {
	background-image: linear-gradient(180deg, #5668a8 0%, #193055 53.44%, #281a3b 56.04%, #512293 81.56%, #512293 100%);
	border-bottom: 2px solid #671bd2;
	box-shadow: 0px 4px 10px rgba(27, 27, 27, 0.83), inset 0px -11px 19px rgba(107, 0, 214, 0.52);

	// .header-main__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 5, 800, 550, 1);

		min-height: 100%;
		padding-inline: rem(15);
	}

	// .header-main__score

	&__score {
	}

	// .header-main__resource

	&__resource {
	}
}

.score-box {
	// .score-box__body

	&__body {
		position: relative;
		z-index: 2;
		display: grid;
		grid-template-columns: rem(60) 1fr;
		align-items: center;
		@include adaptiveValue("width", 212, 160, 800, 550, 1);
		height: rem(36);
	}

	// .score-box__icon

	&__icon {
		justify-self: center;
	}

	// .score-box__score

	&__score {
		@include adaptiveValue("padding-left", 15, 4, 800, 550, 1);

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		font-weight: 700;
		@include adaptiveValue("font-size", 20, 18, 800, 550, 1);
		line-height: math.div(23, 20);
		letter-spacing: 0.05em;
	}
}

.resource {
	// .resource__body

	&__body {
		position: relative;
		z-index: 2;

		display: flex;
		align-items: center;
		justify-content: center;

		height: rem(36);
	}

	// .resource__icon

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include adaptiveValue("left", -8, -15, 800, 550, 1);
		img {
			@include adaptiveValue("max-width", 47, 35, 800, 550, 1);
		}
	}

	// .resource__score

	&__score {
		background-image: linear-gradient(180deg, #ffffff 0%, #e2e2e2 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		@include adaptiveValue("padding-inline", 75, 30, 800, 550, 1);

		@include adaptiveValue("font-size", 20, 14, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;
	}
}

//========================================================================================================================================================
.slot {
	&_game-1 {
		background-image: url("@img/game-1/bg-game-1.jpg");
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat;
	}
	// .slot__body

	&__body {
		min-height: 100vh;
		position: relative;
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: grid;
		grid-template-rows: rem(56) 1fr rem(70);
		row-gap: rem(5);
		z-index: 2;
	}

	// .slot__controls

	&__controls {
	}
}

.controls-slot {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;

	// .controls-slot__body

	&__body {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 3;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: rem(12);
		width: 100%;
		height: rem(67);

		background-image: linear-gradient(
			180deg,
			#5668a8 0%,
			#193055 53.44%,
			#281a3b 56.04%,
			#512293 81.56%,
			#512293 100%
		);
		border-bottom: 2px solid #671bd2;
		box-shadow: 0px 4px 10px rgba(27, 27, 27, 0.83), inset 0px -11px 19px rgba(107, 0, 214, 0.52);

		padding-inline: rem(30);

		@media (min-height: em(700)) {
			height: rem(100);
		}
	}

	&__btn-home {
		position: absolute;
		top: rem(6);
		left: rem(30);
		z-index: 10;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: transform 0.3s ease 0s;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: scale(0.95);
		}
		span {
			display: block;
			width: 100%;
			height: 100%;
			background-image: url("@img/icons/arrow-1.svg");
			background-position: center;
			background-size: 7px 14px;
			background-repeat: no-repeat;

			filter: drop-shadow(0px 2px 2px #330e4f);
		}
		&._anim-1 {
			animation: btn-anim-1 20s ease 0s;
		}
		&._anim-2 {
			animation: btn-anim-2 20s ease 0s;
		}
	}

	// .controls-slot__bet-box

	&__bet-box {
	}

	&__win-box {
	}

	&__button-box {
		display: flex;
		@include adaptiveValue("column-gap", 10, 5, 800, 550, 1);
	}

	&__button-auto {
		p {
			text-transform: uppercase;
		}

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
	// .controls-slot__button-spin

	&__button-spin {
		p {
			text-transform: uppercase;
		}

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.circle-bg {
	width: rem(42);
	height: rem(42);
	border-radius: 50%;
	background-image: linear-gradient(180deg, #2463ff 0%, #0ad5ff 92.5%);
	border: 1px solid rgba(255, 199, 0, 0.69);
	box-shadow: 0px 7px 5px rgba(92, 15, 255, 0.32), inset 0px 4px 1px rgba(241, 202, 255, 0.49);
}

.bet-box {
	// .bet-box__body

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("column-gap", 13, 5, 800, 550, 1);
		transition: opacity 0.3s ease 0s;
		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	// .bet-box__minus

	&__minus,
	&__plus {
		display: flex;
		justify-content: center;
		align-items: center;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: transform 0.3s ease 0s;
		&:active {
			transform: scale(0.9);
		}

		p {
			font-size: rem(26);
			line-height: 1;

			color: #ffffff;
			text-shadow: 0px 2px 2px #0e114f;
		}
	}
	&__minus {
		p {
			position: relative;
			top: rem(-1);
		}
	}

	// .bet-box__score

	&__score {
		display: flex;
		justify-content: center;
		align-items: center;

		width: rem(86);
		height: rem(38);
		background-color: #092a50;
		border-radius: 10px;
		p {
		}
	}

	// .bet-box__plus

	&__plus {
	}
}

.win-box {
	// .win-box__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("width", 189, 130, 800, 550, 1);
		min-height: rem(38);
		background-color: #092a50;
		border-radius: 10px;
		padding-inline: rem(15);
	}

	&__win-text {
		p {
			@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
			line-height: math.div(24, 20);
			letter-spacing: 0.05em;
			background-image: linear-gradient(180deg, #f0b4ff 50%, #ff1ddb 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px rgba(189, 0, 255, 0.28);
			text-transform: uppercase;
		}
	}

	// .win-box__count

	&__count {
		transition: all 0.6s ease-out 0s;
		&._visible {
			top: 0;
			opacity: 1;
			visibility: visible;
		}
	}
}

//========================================================================================================================================================
#slot {
	display: flex;
	justify-content: center;

	width: 100%;
	@media (max-width: em(700)) or ((min-height: em(700))) {
		align-items: center;
	}
}
#reels {
	position: relative;
	display: flex;
	justify-content: center;
	column-gap: rem(5);
	width: 50vw;
	height: calc((3 / 4) * 100vw);
	max-height: 27vw;
	max-width: calc(2.2 * (90vh - 50px));
	@media (min-height: em(700)) {
		width: 70vw;
		max-height: 36vw;
	}
	@media (min-width: em(1200)) {
		width: 60vw;
		max-height: 32vw;
	}
}

.reel {
	overflow: hidden;
	width: 20%;
	height: 100%;
	background-color: rgba(55, 52, 61, 0.48);
	border-radius: 17px;
	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 15px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot.inverted .reel {
	transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//========================================================================================================================================================
#slot2 {
	display: flex;
	justify-content: center;
	width: 100%;
	@media (max-width: em(700)) or ((min-height: em(700))) {
		align-items: center;
	}
}
#reels2 {
	position: relative;

	display: flex;
	justify-content: center;
	column-gap: rem(15);

	width: 47vw;
	height: calc((3 / 4) * 100vw);
	max-height: 29vw;
	max-width: calc(2.2 * (90vh - 50px));

	background-image: radial-gradient(50% 50% at 50% 50%, #0085ff 0%, #00273d 100%);
	border: 3px solid #ffc700;
	border-radius: rem(20);

	padding: 0 rem(10);

	@media (min-height: em(700)) {
		width: 53vw;
		max-height: 36vw;
	}
	@media (min-width: em(1200)) {
		width: 45vw;
		max-height: 33vw;
	}
}

.reel2 {
	position: relative;
	z-index: 3;
	overflow: hidden;
	width: 25%;
	height: 100%;
	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 5px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot2.inverted .reel {
	transform: scaleY(-1);
}

#slot2.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//====================================================================================================
@keyframes no-money {
	100% {
		background-image: linear-gradient(180deg, #f1f1f1 0%, #ff5900 100%);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		background-image: linear-gradient(180deg, #f3f2ef 0%, #ff6f00 100%);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		background-image: linear-gradient(180deg, #e2e6af 0%, #ddf12a 100%);
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}
